@charset "UTF-8";
/* CSS Document */
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

header{
    background: crimson;
}
.logo img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 10px;
}
#top{
    background-color: crimson;
    text-align: center;
    display:inline-block;
}
#top span{
    display: inline-block;
    vertical-align: middle;
}
#nom{
    font-family: "Pacifico";/*Pacifico Indie Flower
 Sanchez*/
    color:aliceblue;
    font-size: 2em;

}
.menuRes{
    /*Que no se muestre*/
    /*Sólo cuando se haga más pequeña la pantalla*/
    display: none;
    position: relative;
    text-align: left;
    font-family: "Nunito";
    text-decoration: none;
    color: white;
}
.menuResDis.display{
    display:block;
}
#principal{
    position:relative;
}
#display{
    position:relative;
}
#menuHide.display{
    display: block;
    position: absolute;
    bottom: -39px;
    /*background-color: crimson;
    border: 0px;
    padding:5px 10px;
    font-size: 1em !important;*/
}
#menuHide{
    display: none;
    text-decoration: none;
}
#menuHide li{
    text-decoration: none;
}
.fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
#menuContainer{
    background-color: crimson;
    display:inline-block;
    margin-left: 10em;
    text-align: right;
    font-size:1em !important;
    vertical-align: middle;
}

#menuContainer li{
    display: inline-block;
    position: relative;
    font-family: "Sanchez";
    color: black;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 2px;
    margin: 0 10px;
}
#regresar{
    margin-left: 3em;
}
.bx-wrapper{
    max-width:800px !important;
    margin: 1em auto !important;
}
.bx-wrapper .bx-viewport{
    max-height:500px;   
}
.bx-wrapper img{
    width:100%;   
}
#slider{
    width:90%;
    max-width:700px;
    margin:3em auto;
    height:30em;
    background:#ccc;
    position:relative;
    display:block;
    overflow:hidden;
}
/* PARA EFECTO DE SLIDE PONLOS INLINE-BLOCK, METELOS EN UN .WRAPPER Y AL SLIDER SLIDER PONLE OVERFLOW
    TODOS CON OPACITY 1
*/
#slider img{
    position:absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    display:block;
    margin:0 auto;
    opacity:0;
    -webkit-transition:all 1s;
    transition: all 1s;
}
#slider img.active{
    opacity:1;
}
.centro{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.centro a{
    position: relative;
    font-family: ;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 30px;
    font-family: "Indie flower";
    margin-left: 30px;
    margin-right: 30px;
}

.centro a img{
    position: relative;
    height: 100px;
    width: 100px;
}
#datos li{
    display:block;   
}
footer{
    height: 100px;
    background-color: crimson;
}

footer #contacto{
    position: relative;
    text-align: center;
    margin-right: 10px;
    color:aliceblue;
    font-family: Sanchez;
    padding-top: 20px;
}
footer a{
    margin-right: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 3em;
    color: white;
}
footer #tel{
    border-radius: 50%;
}
#tel{
    margin-left: 60px;
}
.ref{
    text-align: center;
}
.ref img{
    height: 15em;
}
.ref #bebi img{
    margin-left: 2.5em;
}
.ref #beb img{
    width: 7em;
    margin: 6em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bot{
    text-align: center;
}
.bot .acom img{
    height: 15em;
}
.bot #acomp img{
    width: 20em;
    margin-left: 5em;
}
iframe{
	width: 100%;
    height: 31em;
}
/*
//////////////////////////////
//////////Responsive//////////
//////////////////////////////
*/

@media screen and (max-width:600px){
    header{
        padding-bottom: 10px;   
    }
    #top, #breadcrumscontainer{
        display: none;
    }
    #menuContainer{
        display: none;
    }
    #top{
        display: block;
    }
    .menuRes{
        display: inline-block;
        padding-left: 10px;
    }
    .menuRes .fa{
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 1.5em;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
    }
    
    .menuResDis{
        display: none;
        text-decoration: none;
        font-family: "Nunito";
        margin: 1em;
    }
    .menuResDis li a{
        text-decoration: none;
        color: white;
    }
    .menuRes:hover{
        _background-color: #fff;
        _display: list-item;
    }
    #slider{
        height: 20em;
    }
}