h1{
    color: red;
    font-size: 5em;
    vertical-align: middle;
}
p1{
    color: #2980b9;
    font-size: 1em;
    width:50%;
}
p2{
    color: #717;
    font-size: 2em;
}
p3{
    color: #FF00FF;
    font-size: 3em;
}