@charset "UTF-8";
/* CSS Document */
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*PARALLAX*/
/*http://keithclark.co.uk/articles/pure-css-parallax-websites/*/

/* envuelve todo */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* hasta enfrente */
.parallax__layer--base {
  transform: translateZ(0);
}
/* atrás del base */
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}
/* hasta atrás */
.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
}
/* envuelve por grupos */
.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}